@model IEnumerable<TRN.Feature.BasicContent.Models.Comments>

@foreach (var comment in Model)
{
    <div>
        <div>@comment.Name<span>(</span>@comment.ID - @comment.Email<span>)</span></div>
        <p>
            @comment.Comment
        </p>
    </div>
}
