<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="TRN.Feature.BasicContent" description="This configuration serializes all the basic content templates and renderings">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(module)\BasicContent\serialization\" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="BasicContentTemplate" database="master" path="/sitecore/templates/Feature/TRN/BasicContent/BasicContent" />
						<include name="BasicContentRendering" database="master" path="/sitecore/layout/Renderings/Feature/TRN/BasicContent" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
