<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="TRN.Foundation.Navigation.Trnwebsite" description="This configuration serializes the navigation component">
					<targetDataStore physicalRootPath="$(sourceFolder)\$(module)\unicornser\" useDataCache="false" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" singleInstance="true"/>
					<predicate>
						<include name="NavigationRendering" database="master" path="/sitecore/layout/Renderings/Foundation/" />
					</predicate>
					<dataProviderConfiguration enableTransparentSync="false" />
					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
